html, body {
    font-family: 'Pixel';
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Pixel';
    src: url(VPPixel-Simplified.otf);
}
menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

selector {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

level {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
}

card {
    display: block;
    height: 300px; width: 250px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: x-large;
    color: white;
}

card img {
    display: block;
    margin: 0 auto;
}

background {
    display: block;
    position: absolute;
    background-image: url(../images/road.png);
    height: 1080px; width: 1920px;
    background-repeat: repeat-y;
}


menu title {
    display: block;
    background-image: url(../images/title.png);
    background-repeat: no-repeat;
    height: 88px; width: 724px;
    top: 10%;
    position: absolute;
}

menu div {
    display: block;
    position: absolute;
    background-image: url(../images/playButton.png);
    background-repeat: no-repeat;
    height: 192px; width: 480px;
    top: 50%;
    cursor: pointer;
}

card:hover {
    color: black;
    cursor: pointer;
}

player {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 102px; height: 218px;
}

obstacle {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 102px; height: 218px;
}

ui {
    display: flex;
    flex-direction: column;
}

score, highScore, pauseButton {
    display: block;
    left: 2%;
    position: relative;
    font-size: x-large;
    color: black;
    height: 50px; width: 320px;
}